header {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding-top: 3rem;
    margin-bottom: 3rem;
    background-image: url('../assets/banner.jpg');
    background-color: brown;
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: cover;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .3);
}

header .text {
    display: flex;
    flex-direction: column;
    backdrop-filter: brightness(40%) blur(3px);
    width: fit-content;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 1rem;
    color: white;
    gap: 1rem;
}

header .text h1,
header .text span {
    display: inline-block;
    vertical-align: middle;
    font-size: 4rem;
}

header .text p {
    font-size: 2.4rem;
}

header nav ul {
    display: flex;
    gap: 3rem;
    padding: 1.5rem;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    list-style: none;
    max-width: 80vh;
    background-color: #dddddd;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .15);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: brown;
    font-weight: 700;
}

header nav ul li a:hover {
    color: black;
    transition: color 200ms;
}