<header>

    <div class="text">

        <h1 class="title">Cadastro Acadêmico
            <span class="material-symbols-outlined" id="icon">
                school
            </span>
        </h1>

        <p>FATEC Itu - Dom Amaury Castanho</p>
        
    </div>

    <nav>

        <ul>
            <li><a class="nav-link" routerLink="/home">Home</a></li>
            <li><a class="nav-link" routerLink="/estudantes">Estudantes</a></li>
            <li><a class="nav-link" routerLink="/professores">Professores</a></li>
        </ul>

    </nav>

</header>

<router-outlet></router-outlet>

<app-messages></app-messages>
