#wrapper {
    overflow-x: auto;
    margin: 1rem;
}

#wrapper button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    margin: 0 auto;
    max-width: fit-content;
    background-color: brown;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .15);
    transition: background 300ms;
}

#wrapper button:hover {
    cursor: pointer;
    background-color: black;
}
.content {
    border-collapse: collapse;
    font-size: 1.4rem;
    width: 120rem;
    max-width: 90vh;
    margin: 1rem auto;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .15);
    overflow: hidden;
}

.content tr {
    border-bottom: 2px solid #dddddd;
}

.content tr:not(:nth-of-type(even)) {
    background-color: #dddddd80;
}

.content tr:last-of-type {
    border-bottom: 3px solid brown;
}

.content tr th {
    background-color: brown;
    color: white;
    font-weight: 700;
}

.content th,
.content td {
    padding: 1.2rem 1.5rem;
}

.content td a {
    color: brown;
    transition: color 200ms;
}

.content td a:hover {
    cursor: pointer;
    color: #000000;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    max-width: 85vh;
    margin: 2rem auto;
}

.form .input {
    display: flex;
    flex-direction: column;
    margin: auto 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .15);
    border-radius: 1rem;
    overflow: hidden;
    border-collapse: collapse;
}

.form .input label {
    background-color: brown;
    color: white;
    font-weight: 700;
    padding: 1rem;
}

.form .input input {
    padding: 1rem;
    border: none;
}

.form .input input:focus {
    outline: none;
}

.form button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    margin: 1rem;
    max-width: fit-content;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .15);
    transition: background 300ms;
}

.form button:hover {
    cursor: pointer;
    background-color: black;
}