<div class="content" *ngIf="student">

    <div class="input">
        <label for="name">Nome do aluno:</label>
        <input id="name" [(ngModel)]="student.name" placeholder="Nome">
    </div>

    <div class="input">
        <label for="age">Idade do aluno:</label>
        <input id="age" [(ngModel)]="student.age" placeholder="Idade">
    </div>

    <div class="input">
        <label for="course">Curso matriculado:</label>
        <input id="course" [(ngModel)]="student.course" placeholder="Curso">
    </div>

    <div class="input">
        <label for="semester">Semestre em andamento:</label>
        <input id="semester" [(ngModel)]="student.semester" placeholder="Semestre">
    </div>

    <button type="button" (click)="goBack()">
        <span class="material-symbols-outlined">
            arrow_back
        </span>
    </button>

    <button type="button" (click)="save()">
        <span class="material-symbols-outlined">
            check
        </span>
    </button>

</div>
